body {
  max-width: 640px;;
  margin: 0 auto;
  padding: 1em;
}

img {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

textarea {
  min-height: 100px;
}